* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: 'Muli', sans-serif;
}

body {
   background-color: #FAFAFA;
}

form {
   display: flex;
   justify-content: space-between;
}

input {
   height: 60px;
   width: 100%;
   padding: 0.5rem 1rem;
   border: 1px solid #005CFF;
   border-radius: 10px;
}

h1 {
   font-size: 3rem;
   color: #100D44;
}

h2 {
   font-size: 2.25rem;
}

h3 {
   font-size: 1.5rem;
   margin-bottom: 1rem;
}

p {
   line-height: 1.8rem;
}

a {
   text-decoration: none;
}

video {
   margin-top: 3rem;
   width: 70%;
   border: 10px solid #eeeeee;
   border-radius: 25px;
}

#blob1 {
   top: 1.5rem;
   left: 35%;
}

#blob2 {
   top: 3rem;
   right: 4rem;
}

#blob3 {
   left: 50%
}

#blob4 {
   bottom: 5rem;
   left: 20%;
}

.container {
   width: 85%;
   margin: 0 auto;
   max-width: 1440px;
   visibility: hidden;
}

.btn {
   background-color: #4D8DFF;
   border: 1px solid #4D8DFF;
   padding: 1.2rem 2rem;
   border-radius: 10px;
   color: #fff;
   text-align: center;
   width: 180px;
   margin-left: 2rem;
}

.btn:hover {
   cursor: pointer;
   background-color: #004ACC;
   border: 1px solid #004ACC;
}

.btn:active, .btn:focus {
   background-color: #005CFF;
   border: 1px solid #005CFF;

}

.blob {
   position: absolute;
   max-width: 70px;
   z-index: -9999;
}

.icon {
   width: 100px;
   height: 100px;
   margin-bottom: 1rem;
}

.device {
   margin-bottom: 2rem;
}

.social {
   margin-right: 2rem;
}

nav {
   height: 4rem;
   display: flex;
   align-items: flex-end;
}

#hero {
   display: flex;
   align-items: center;
   position: relative;
}

#hero .text {
   flex: 0.55;
}

#hero .text h1 {
   margin-bottom: 1.75rem;
   width: 65%;
}

#hero .text p {
   margin-bottom: 3rem;
   width: 80%;
   font-weight: 600;
}

#hero .image {
   flex: 0.45;
   display: flex;
   align-items: center;
   justify-content: center;
}

#hero > .image > img {
   width: 80%;
}

#features {
   padding: 7.5rem 0;
}

#features h2 {
   text-align: center;
}

#features .row {
   display: flex;
   align-items: center;
}

#features .row .col-1, #features .row .col-3 {
   flex: 0.33;
}

#features .row .col-2 {
   flex: 0.33;
   margin: auto;
   display: flex;
   align-items: center;
   justify-content: center;
}

#features .row-1, #features .row-2 {
   display: flex;
   margin: 7.5rem 0;
}

#features .row-1 h2, #features .row-2 h2 {
   margin-right: 1rem;
}

#how {
   padding: 5rem 0;
}

#how h2 {
   text-align: center;
}

#how .image img {
   width: 100%;
}

#how .col {
   display: flex;
   margin-bottom: 5rem;
}

#how .col .image {
   flex: 0.6;
   display: flex;
   align-items: center;
   justify-content: center;
}

#how .image img {
   width: 80%;
}

#how .col .text {
   flex: 0.4;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: flex-start;
}

#how .col .text p {
   width: 75%;
}

#availability {
   padding: 5rem 0;
}

#availability h2 {
   text-align: center;
   margin-bottom: 5rem;
}

#availability .row {
   display: flex;
   justify-content: space-between;
}

#availability .row .col {
   display: flex;
   flex-direction: column;
   text-align: center;
}

#form {
   background-color: #fff;
}

#form .form-box {
   padding: 4rem 0;
}

#form h2 {
   text-align: center;
   margin-bottom: 1rem;
}

#form p {
   text-align: center;
   margin-bottom: 4rem;
}

#form form {
   min-width: 50%;
   max-width: 80%;
   margin: 0 auto;
}

footer {
   background-color: #333333;
}

footer .row {
   display: flex;
   justify-content: space-between;
   color: #fff;
   padding: 1rem 0;
}

@media only screen and (max-width: 960px) {
   
   #hero .text h1 {
      width: 100%;
   }
   
   #hero .text p {
      width: 90%;
   }

   footer .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   footer .row .section {
      margin-bottom: 1rem;
   }

   footer .row .socials {
      width: 30%;
      display: flex;
      justify-content: space-between;
      margin-bottom: 1rem;
   }

   footer .row .socials .social {
      margin-right: 0;
   }
}

@media only screen and (max-width: 870px) {
   #hero .text {
      padding-top: 2rem;
   }

   #hero > .image > img {
      padding-left: 1.5rem;
      width: 100%;
   }

   #features .row {
      flex-direction: column;
   }

   #features .row-1, #features .row-2 {
      margin: 2.5rem 0;
   }

   #features .row .col-2 img{
      width: 100%;
   }

   #how .col .text p {
      width: 100%;
   }
}

@media only screen and (max-width: 650px) {

   html {
      width: 100%;
   }

   form {
      flex-direction: column;
   }

   input {
      margin: 1rem  0;
   }

   .btn {
      margin-left: 0;
   }

   .blob {
      display: none;
   }

   #hero {
      flex-direction: column;
   }

   #hero .text {
      padding: 3rem 0;
   }

   #hero .text h1 {
      width: 100%;
   }

   #hero .text p {
      width: 100%;
   }
   
   #hero > .image > img {
      padding-left: 2.5rem;
      width: 100%;
   }

   #features .row {
      flex-direction: column;
   }

   #features .row-1, #features .row-2 {
      margin: 2.5rem 0;
   }

   #features .row .col-2 img{
      width: 100%;
   }

   #how h2 {
      margin-bottom: 5rem;
   }

   #how .col {
      flex-direction: column;
   }

   #how .col .text {
      margin-bottom: 3rem;
   }

   #how .col .text p {
      width: 100%;
   }

   #how .alt .text {
      order: 1;
   }

   #how .alt .image {
      order: 2;
   }

   #availability {
      padding: 0;
   }

   #availability .row {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
   }

   #availability .row .col {
      margin-bottom: 5rem;
   }

   #form form {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
   }

   footer .row {
      flex-direction: column;
      align-items: center;
      text-align: center;
   }

   footer .row .section {
      margin-bottom: 1rem;
   }

   footer .row .socials {
      width: 70%;
      display: flex;
      justify-content: space-between;
   }

   footer .row .socials .social {
      margin-right: 0;
   }
}

